/* Enelver les marges de bases */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
/* --------------------------- */

/* Police */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.playwrite-regular {
    font-family: 'Playwrite IN', serif;
    font-weight: 400; /* Poids de la police */
}

/* Fin Police */

/* Navbar */
nav {
    background-color: black;
    margin-top: 15px;
    padding: 1rem;
    border-radius: 500px;
    margin-left: 30%;
    margin-right: 30%;
    
}

nav ul {

/* enlever les points à côtés des menus */
    list-style: none;
/* ------------------------------------ */
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    font-weight: 200;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: wheat;
}

body {
    background-color: #021526;
}


html {
    scroll-behavior: smooth;
}

#img_intro {
    display: flex;
}

#txt_intro {
    display: flex;
    color: antiquewhite;
    flex-direction: row;
}

#Titre_portfolio {
    background-color: wheat;
    margin-left: 50%;
    transform: translate(-50%);
    color: black;
    margin-top: 80px;
    text-align: center;
    width: 30%;
    border-radius: 5px;
}

.Biopic {
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    background-color: wheat;
    margin: 8%;
    padding: 8%;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    margin: 5%;
}

.image {
    transition: transform 1s ease-in-out;
    max-width: 20%;
    height: auto;
    border-radius: 8%;
    margin: 0;
}

.rotate {
    transform: rotate(40deg);
}

#image_7 {
    rotate: 3deg;
}
#image_2 {
    rotate: -3deg;
}
#image_3 {
    rotate: 2deg;
}
#image_10 {
    rotate: -3.8deg;
}
#image_5 {
    rotate: -3.5deg;
}
#image_6 {
    rotate: 2.5deg;
}
#image_8 {
    rotate: -2.5deg;
}
#image_9 {
    rotate: 3.5deg;
}


.container2 {
    color: wheat;
    display: inline-block;
}

.container3 {
    font-weight: 200;
    color: wheat;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .section-title {
    text-align: center;
    color: orange;
    background-color: #333; Couleur de fond spécifique
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 20px;
} */

.section-title {
    background-color: wheat;
    margin-left: 50%;
    transform: translate(-50%);
    color: black;
    margin-top: 80px;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 100px;
}

.project-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #021526; /* Couleur de fond spécifique */
    margin: 20px;
    border-radius: 10px;
}

.project-item {
    display: flex;
    flex-direction: row; /* Aligne l'image et la description en ligne */
    align-items: center; /* Aligne les éléments en haut */
    margin-bottom: 80px; /* Espace entre les paires image-description */
}

.project-image img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-description {
    color: #603F26;
    width: 300px; /* Largeur fixe */
    background-color: #FFFAEC; /* Couleur de fond spécifique */
    padding: 20px;
    border-radius: 10px;
    overflow: hidden; /* Empêche le contenu de déborder */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    margin-left: 20px;
    margin-bottom: 20px;
}

.project-description h2 {
    margin-top: 0;
}

.project-description p {
    margin: 10px 0 0;
}

#Lien_metier a {
    text-decoration: none;
    color: wheat;
}

#Lien_metier a:hover {
    color: orange;
}

#Lien_entreprise a {
    text-decoration: none;
    color: wheat;
}

#Lien_entreprise a:hover {
    color: orange;
}


#footer {
    height: 80px;
    width: 100%;
    display: flex;
    color: aliceblue;
    background-color: wheat;
    border: #021526;
}
